@import '../../styles/vars.less';
@import '../../styles/mixins.less';

@prefix: 'rbk-LayerGeneral';

.rbk-LayerGeneral {
  .layer-take-over-space(absolute, @layer-zindex);
  background-color: transparent;

  & > *:not(.rbk-LayerGeneral-Mask) {
    z-index: @layer-component-zindex;
    .transition();
  }
}
