@import '../../styles/vars.less';
@import '../../styles/mixins.less';

@prefix: 'rbk-LayerGeneral';

.transition() {
  transition: all 0.24s ease-in-out;
}

.rbk-LayerGeneral {
  z-index: @layer-zindex;
  .layer-take-over-space();
  background-color: transparent;

  & > *:not(.rbk-LayerGeneral-mask) {
    z-index: @layer-component-zindex;
    .transition();
  }
}
