@import '../../styles/vars.less';
@import '../../styles/mixins.less';

.rbk-LayerGeneral-Mask {
  .layer-take-over-space(absolute, @layer-mask-zindex);
  .transition();

  &.dark {
    background-color: rgba(0, 0, 0, 0);

    &.enter {
      background-color: rgba(0, 0, 0, 0.48);
    }

    &.active {
      background-color: rgba(0, 0, 0, 0.48);
    }

    &.leave {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  &.light {
    background-color: rgba(0, 0, 0, 0);

    &.enter {
      background-color: rgba(0, 0, 0, 0.01);
    }

    &.active {
      background-color: rgba(0, 0, 0, 0.01);
    }

    &.leave {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}
